<div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Calculadora Conversora</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                    </svg>
                    <span>RECARGAR </span>
                </a>
            </li>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <label class="col-sm-1 col-form-label">$</label>
                            <input type="number" class="form-control bg-light border-0 small" placeholder="Ingrese monto a convertir" aria-label="Search" aria-describedby="basic-addon2" id="textoaconvert">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="convertir">Convertir</button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b>ENTREVISTADO</b> : CARLOS AIRTON CURO SILUPU</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid" style="text-align: center;">
                    <div class="row" style="place-content: center;">
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                BITCOIN<span id="textbtctit"></span></div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$<span id="textbtcmonto"></span></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            ETHEREUM<span id="textethtit"></span></div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$<span id="textethmonto"></span></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" id="containmostrar" style="display:none">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Monto : <span id="montosearch"> </span></h1>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                             BITCOIN</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="totalcambbtc"></span></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ETHEREUM
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><span id="totalcambeth"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Tabla convertir</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <table id="btc_table" class="table table-bordered">
                                            </table>
                                        </div>
                                        <div class="col-lg-6">
                                            <table id="eth_table" class="table table-bordered table-dark">
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12" id="jsoncamp">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            setInterval(() => {
                callBTC();
                callETH();
            }, 700);

            function callBTC(){
                $.ajax({
                        contentType: "application/json",
                        url : "https://data.messari.io/api/v1/assets/btc/metrics/market-data",
                        type : 'GET',
                        dataType : "json",
                        headers: { "x-messari-api-key": "f2a34ddb-852a-4644-b4c1-7ed62909a308" },
                        success : function (data) {
                            $("#textbtctit").text(' ('+data.data.market_data.price_btc+' '+data.data.symbol+') ');
                            $("#textbtcmonto").text(data.data.market_data.price_usd);
                        },
                        error : function (data) {
                            console.log(data);
                        }
                });
            }
            function callETH(){
                $.ajax({
                        contentType: "application/json",
                        url : "https://data.messari.io/api/v1/assets/ETH/metrics/market-data",
                        type : 'GET',
                        dataType : "json",
                        headers: { "x-messari-api-key": "f2a34ddb-852a-4644-b4c1-7ed62909a308" },
                        success : function (data) {
                            $("#textethtit").text(' ('+data.data.market_data.price_eth+' '+data.data.symbol+') ');
                            $("#textethmonto").text(data.data.market_data.price_usd);
                        },
                        error : function (data) {
                            console.log(data);
                        }
                });
            }

            $('#convertir').click(function(){
                $("#containmostrar").css("display", "block");
                if($("#textoaconvert").val() !== ''){
                    var tmonto = $("#textoaconvert").val();
                    var tprecbtc = $("#textbtcmonto").text();
                    var tpreceth = $("#textethmonto").text();
                    console.log(tmonto);
                    console.log(tprecbtc);
                    console.log(tpreceth);
                    $.ajax({
                            url : "<%= request.base_url %>/logica",
                            type : 'POST',
                            data:{
                                monto : tmonto,
                                precbtc : tprecbtc,
                                preceth : tpreceth
                            },
                            dataType : "json",
                            success : function (data) {
                                let totbtc = data.total_btc;
                                let toteth = data.total_eth;

                                let mont = $("#textoaconvert").val();

                                $("#totalcambbtc").text('$ '+totbtc);
                                $("#totalcambeth").text('$ '+toteth);

                                $.ajax({
                                        url : "<%= request.base_url %>/logxmes",
                                        type : 'POST',
                                        data:{
                                            totbtc : totbtc,
                                            toteth : toteth
                                        },
                                        dataType : "json",
                                        success : function (data) {
                                            
                                            $('#btc_table').html('');
                                            var trHTMLbtc = '<tr style="text-align: center;"><td colspan="2"><b>BITCOIN - INTERÉS 5%</b> <button id="exportjsonbtcasd" onClick="exportjsonbtcasd(this.id)">JSON</button></td></tr>';
                                            $.each(data.totalbtc, function (i, item) {
                                                trHTMLbtc += '<tr><td><b>' + data['totalbtc'][i][0]['mes'] + '</b></td><td><b>' + data['totalbtc'][i][0]['total'] + '</b></td></tr>';
                                            });
                                            $('#btc_table').append(trHTMLbtc);
                                            
                                            $('#eth_table').html('');
                                            var trHTMLeth = '<tr style="text-align: center;"><td colspan="2"><b>ETHEREUM - INTERÉS 3%</b> <button id="exportjsonethasd" onClick="exportjsonethasd(this.id)">JSON</button></td></tr>';
                                            $.each(data.totaleth, function (f, item) {
                                                trHTMLeth += '<tr><td><b>' + data['totaleth'][f][0]['mes'] + '</b></td><td><b>' + data['totaleth'][f][0]['total'] + '</b></td></tr>';
                                            });
                                            $('#eth_table').append(trHTMLeth);
                                        },
                                        error : function (data) {
                                            console.log(data);
                                        }
                                });
                            },
                            error : function (data) {
                                console.log(data);
                            }
                    });
                }else{
                    alert("Ingrese un valor para continuar")
                }
            });
            
            $("#exportBTC").click(function() {
                var valores = "";
                $(".numero").parent("tr").find("td").each(function() {
                    valores += $(this).html() + " ";
                });
                valores = valores + "\n";
                alert(valores);
            });
            
            function casa(){
                alert("casa");
            };
        });
    </script>

    <script type="text/javascript">
        function exportjsonbtcasd(clicked_id)
        {
            var json = '{';
            var otArr = [];
            var tbl2 = $('#eth_table tr').each(function(i) {        
                x = $(this).children();
                var itArr = [];
                x.each(function() {
                    itArr.push('"' + $(this).text() + '"');
                });
                otArr.push('"' + i + '": [' + itArr.join(',') + ']');
            })
            json += otArr.join(",") + '}'

            alert(json);
        }
        
        function exportjsonethasd(clicked_id)
        {
            var json = '{';
            var otArr = [];
            var tbl2 = $('#btc_table tr').each(function(i) {        
                x = $(this).children();
                var itArr = [];
                x.each(function() {
                    itArr.push('"' + $(this).text() + '"');
                });
                otArr.push('"' + i + '": [' + itArr.join(',') + ']');
            })
            json += otArr.join(",") + '}'

            alert(json);
        }

    </script>